header {
    position: absolute;
    text-align: left;
    color: rgb(246, 183, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(198, 234, 221, 0.5);
    width: 170px;
    padding: 1%;
    bottom: 0;
    top: 0;
    border-right: medium solid mediumseagreen;
    float: left;
}
table{
    border: 2px solid;
    width: 140px;
    height: 286px;
    font-size: 16pt;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("pinkdust.png")
}
#about_me{
    color: gainsboro;
    background-color: rgba(88, 88, 88, 0.5);
    position: relative;
    width: 930px;
    height: 550px;
    left: 250px;
    top: 75px;
    bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#bio{
    font-size: 16pt;
    line-height: 1.5em
}
img{
    margin-right: 1em;
   float: left; 
}
@media only screen and (max-width: 980px){
    header{
        width: 155px;
    }
    table{
        width: 140px;
    }
    #about_me{
        width: 790px;
        padding-right: 25px;
        padding-left: 25px;
    }
    }
    
    @media only screen and (max-width: 768px){
    header{
        width: 110px;
    }
    table{
        width: 100px;
    }
    #about_me{
        width: 550px;
        padding-right: 15px;
        padding-left: 15px;
    }   
    }
    @media only screen and (max-width: 640px){
    header{
        width: 155px;
    }
    table{
        width: 140px;
    }
    #about_me{
        width: 550px;
        padding-right: 15px;
        padding-left: 15px;
    }
    }